.password-generator {
  max-width: 400px;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.125rem;

  label {
    display: block;
  }

  input[type="number"] {
    width: 100%;
    padding: 0.25rem;
  }

  button {
    padding: 0.5rem 1rem;
  }

  p {
    font-size: 1.2rem;
    word-break: break-all;
  }

  ._error {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(181, 0, 0);
  }
  ._response span {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
