<div class="password-generator _flex _f-dir-col _gap-y-16">
  <h2>Random Password Generator</h2>

  <div class="password-generator__length _flex _f-dir-col _gap-y-8">
    <label>
      Length:
    </label>
    <input type="number" [(ngModel)]="passwordOptions.length" min="4" max="64" #lengthInput="ngModel">
    @if (!isLengthValid()) {
      <div class="_error">Length must be between 4 and 64</div>
    }
  </div>

  <div class="password-generator__numbers _flex _ai-c _gap-x-4">
    <input type="checkbox" [(ngModel)]="passwordOptions.exclude_numbers">
    <label>
      Exclude Numbers
    </label>
  </div>

  <div class="password-generator__special-symbols _flex _ai-c _gap-x-4">
    <input type="checkbox" [(ngModel)]="passwordOptions.exclude_special_chars">
    <label>
      Exclude Special Characters
    </label>
  </div>

  <button (click)="generate()" [disabled]="!isLengthValid() || isLoading">Generate Password</button>

  @if (error) {
    <p class="_error">
      API Error:
      <span>{{ error }}</span>
    </p>
  }
  @if (password) {
    <p class="_response">
      Generated password:
      <span>{{ password }}</span>
    </p>
    <button (click)="copyToClipboard()">Copy</button>
  }
</div>
