
h2, label, p, button, input { margin: 0; }
._flex {
  display: flex;
  &._f-dir-col {
    flex-direction: column;
  }
  &._ai-c {
    align-items: center;
  }
  &._gap-x-4 {
    column-gap: 4px;
  }
  &._gap-y-8 {
    row-gap: 8px;
  }
  &._gap-y-16 {
    row-gap: 16px;
  }
}
